#il {
    width: 100vw;
    background-color: #252525;
    background-image: url(./pictures/IMG_6664.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 1s;
}
#scioly{
    width: 100vw;
    background-color: #252525;
    background-image: url(./pictures/scioly-main.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 1s;
}
#scioly-c {
    width: 100vw;
    background-color: #252525;
    background-image: url(./pictures/scioly-main-c.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 1s;
}
#iet {
    width: 100vw;
    background-color: #3d3d3d;
    background-image: url(./pictures/IMG_6643.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 1s;
}
#nths-c {
    width: 100vw;
    background-color: #252525;
    background-image: url("https://www.monroe.edu//cms/lib/NY02216770/Centricity/Domain/8/nths1.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 25% 50%;
    transition: background-image 1s;
}
#main-il {
    width: 25vw;
    margin-top: 20%;
}
#main-scioly {
    width: 25vw;
    margin-top: 20%;
}
#main-scioly-c {
    width: 40vw;
    margin-top: 35%;
}
#main-iet {
    width: 30vw;
    margin-top: 20%;
}
#main-nths-c {
    width: 25vw;
    margin-top: 15%;
}
ul li {
    list-style-type: none;
}
#clubs, #leadership, #hobbies, #community {
    box-shadow: 0px 15px #A4161A, 0px 30px #660708;
    position: relative;
    z-index: 2;
}
#leadership {
    margin-top: 8vh;
}
#one-community {
    width: 100vw;
    background-color: #F5F3F4;
}
#two-community {
    width: 100vw;
    background-color: #FFFFFF;
}
#homelab {
    width: 100vw;
    background-color: #3d3d3d;
    background-image: url(./pictures/truenas.png);
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 1s;
}
#photography {
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    background-image: url("./pictures/_MG_0407.JPG");
    background-size: cover;
    background-position: 100% center;
    background-blend-mode: multiply;
}
#main-photography {
    width: 25vw;
}