body {
    background: #F5F3F4 !important;
}
#projects {
    position: relative;
    top: 7vh;
    box-shadow: 0px 1vh #A4161A, 0px 2vh #660708;
}
.project a div p {
    text-decoration: none;
    color: #161A1D;
}
#project-container {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto;
    grid-template-areas: 'treat treat first-w'
                         'treat treat first-g'
                         'constellation caw caw'
                         'photo caw caw'
                         'robot-tour robot-tour penguin'
                         'robot-tour robot-tour clock'
                         'distance shields shields'
                         'mondrian shields shields';
    column-gap: 10px;
    row-gap: 20px;
    height: max-content;
    margin: 0px 10vw 0px 10vw;
    padding-bottom: 10vh;
    justify-content: center;
    background: #F5F3F4;
    position: relative;
    top: 14vh;
}
.imgo {
    display: block;
    margin: auto auto;
	width: 96%;
    margin: 2%;
	object-fit: cover;
	object-position: 55%;
	border-radius: 20px;
	position: relative;
	transition: all 250ms;
	z-index: 2;
	filter:  brightness(100%);
    aspect-ratio: 2/1;
}
.imgos {
    display: block;
    margin: auto auto;
	width: 96%;
    margin: 2%;
	object-fit: cover;
	object-position: 55%;
	border-radius: 20px;
	position: relative;
	transition: all 250ms;
	z-index: 2;
	filter:  brightness(110%);
    aspect-ratio: 5/4;
}
.project {
    justify-self: center;
    position: relative;
    transition: all 250ms;
    bottom: 0%;
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    width: 95%;
    border-radius: 25px;
    box-shadow:  0px 0px 0px #d0cfcf,
             -0px -0px 0px #ffffff;
    transition: all 250ms;
}
.project:hover {
    bottom: 1%;
    box-shadow: 5px 5px #A4161A, 10px 10px #BA181B, 15px 15px #E5383B;
}
.project-inner-container {
    display: block;
    margin: auto auto;
	width: 90%;
    margin: 5%;
}
.project-inner-container h2 {
    font-size: 3vh;
    color: #161A1D;
}
.project-inner-container h2 .dash {
    color: #E5383B;
}
#lang, #lang-container {
    position: relative;
    top: 9vh;
}