body {
    background: #F5F3F4 !important;
}
#projects {
    position: relative;
    top: 7vh;
    box-shadow: 0px 1vh #A4161A, 0px 2vh #660708;
}
#project-container {
    display: grid;
    grid-template-areas: 'first-w first-g treat'
                         'robot-tour o o ';
    column-gap: 20px;
    row-gap: 20px;
    width: 96vw;
    height: fit-content;
    justify-content: center;
    
    background: #F5F3F4;
    position: relative;
    left: 2vw;
    top: 9vh;
}
.container-one-one {
    position: relative;
    aspect-ratio: 1/1;
    
}
.container-one-one h2 {
    color: #F5F3F4;
}
.imgo {
	width: 90%;
    margin: 5%;
	object-fit: cover;
	object-position: 55%;
	border-radius: 25px;
	position: relative;
	transition: all 250ms;
	z-index: 2;
	margin: 0%;
	filter:  brightness(125%);
    aspect-ratio: 2/1;
}
.project {
    justify-self: center;
    position: relative;
    transition: all 250ms;
    bottom: 0%;
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    width: ;
}
.project:hover {
    bottom: 3%;
}


#lang, #lang-container {
    position: relative;
    top: 9vh;
}