body {
  color: white;
}
.italiana {
  font-family: "Italiana", sans-serif;
}

.source {
	font-family: "Source Code Pro", monospace;
}

#front-page {
  object-position: 0% 40%;
}

/* @media only screen and (max-width: 768px) {
  #front-page {
    object-position: 10% 80%;
  }
}


@media only screen and (max-width: 1200px) {
  #front-page {
    object-position: 10% 25%;
  }
} */