body {
	background-color: black;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: white;
	margin: 0%;
}
h1 {
	font-weight: 800;
	font-size: 3em;
}
h2 {
	font-size: 2em;

}
.left-column {
	width: 50%;
	float: left;
}
.right-column {
	width:  50%;
	float: right;
}
.lcoltt {
	width: 60%;
	float: left;
	align-items: center;
}
.rcoltt {
	width:  40%;
	float: right;
	height: 100vh;
}
.rcoltt div {
	height: 100vh;
	align-items: center;
}
#iam {
	width: 100vw;
	height: 100vh;
}
#iam .lcoltt {
	height: 100%;
}
#iam .rcoltt {
	height: 100%;
}
.lcoltt .box {
	align-items: center;
}
.box {
	margin-top: 25%;
}
.box h1, .box h2, .box p {
	margin: 10px;
	margin-left: 15%;
	text-wrap: balance;
}
#roles {
	background: linear-gradient(90deg, rgba(135,0,0,1) 0%, rgba(255,0,0,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#profile {
	-webkit-filter: grayscale(35%);
	width: 275px;
	height: 375px;
	border-radius: 35px;
	position: absolute;
	top: 20%;
}
#fade {
	width: 275px;
	height: 330px;
	border-radius: 35px;
	position: absolute;
	top: 40%;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));
}


